@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --text-color-1: #7CA0A5;
  --text-color-main: #36575B;
  --border-color: #3E818A;
}

/* for dark mode, will do later */
/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  /* overflow: hidden; */
  height: 100vh;
  /* color: rgb(var(--foreground-rgb)); */
  background: linear-gradient(
    to bottom,
    transparent,
    rgb(var(--background-end-rgb))
  ) rgb(var(--background-start-rgb));
}

/* LOGIN PAGE */

.text-1 {
  font-family: 'Darumadrop One';
  font-size: 2.5rem;
  line-height: 2.5rem;
  color: var(--text-color-1);
  text-wrap: wrap;
}

.title {
  font-family: 'Montserrat';
  font-size: 6rem;
  line-height: 5rem;
  color: var(--text-color-main);

  border-bottom: 2px solid #a1a0a0;
  padding-bottom: 1.2rem;
}

.input {
  margin: 0.9rem;
  padding: 0.5rem;
  padding-right: 4rem;
  border: 2px solid var(--text-color-1);
  border-radius: 0.5rem;
}

.submit-button {
  background-color: #1f6d46;
  color: #FFFFFF;
  font-size: 2rem;
  font-family: 'Montserrat';
  text-transform: uppercase;
  font-size: 2rem;
  margin-top: 1rem;
}

.header {
  padding-bottom: 2rem;
  border-bottom: 2px solid #a1a0a0;
}

.b-button {
  border: 2px solid #a1a0a0;
  border-radius: 1rem;
  padding: 1rem;
  text-transform: uppercase;
  font-family: 'Montserrat';
  color: #a1a0a0;
}

.error {
  color: red;
  font-size: 1.1rem;
  font-weight: 500;
}

/* COLUMNS AND BOARD */

.column {
  background-color: #A1C0C5;
  border: 5px solid #A1C0C5;
  border-radius: 0.7rem;
}

.column-title {
    background-color: var(--border-color);
    display: flex;
    justify-content: center;
    color: rgb(207, 203, 203);
    border: 5px solid var(--border-color);
    border-radius: 0.7rem;
}

.item-input {
  background-color: var(--border-color);
  border: 3px solid var(--border-color);
  border-radius: 0.7rem;
  color: white;
}

.item {
  color: rgb(207, 203, 203);
  background-color: var(--border-color);
  border: 5px solid var(--border-color);
  border-radius: 0.7rem;
}

.button {
  background-color: #6bb3bd;
  padding: 0.5rem 1rem;
  border-radius: 3rem;
  margin: 0 1rem;
}

.column-button {
  background-color: #6bb3bd;
  border-radius: 3rem;
}

.cancel {
  background-color: #88bac0;
  padding: 0.5rem 1rem;
  border-radius: 3rem;
  margin: 0 1rem;
}

.sidebar-title {
  background-color: var(--border-color);
  border: 5px solid var(--border-color);
  color: rgb(207, 203, 203);
  text-align: center;
  border-radius: 0.7rem;
}

.placeholder-button { 
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem -0.6rem;
  background-color: #6bb3bd;
  padding: 0.5rem;
  border-radius: 3rem;
}

/* USER INVITATION WINDOWS */
.invite-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.invite-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem -0.6rem;
  background-color: #225726;
  width: 250px;
  padding: 0.5rem;
  border-radius: 3rem;
}

.invite-button:hover {
  background-color: #1e2e20;
}

.modal-content {
  background-color: var(--border-color);
  box-shadow: 0px 0px 10px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

.invite-input {
  color: #000;
  border-radius: 10px;
  text-align: start;
  vertical-align: top;
}

.invite-input::placeholder {
  color: #000;
}

.invite-window-button {
  background-color: #6bb3bd;
  color: #000;
}

button:hover {
  transition: .2s linear;
  background-color: #387781;
}

.invite-button.cancel {
  background-color: rgb(172, 74, 74);
  width: 150px;
}

.invite-button.cancel:hover {
  background-color: rgb(163, 7, 7);
  width: 150px;
}

/* MAIN PAGE */

.main-title {
  font-family: 'Montserrat';
  font-size: 6rem;
  line-height: 5rem;
  color: var(--text-color-main);
  padding-bottom: 1.2rem;
}

.d-border {
  border: 2px solid #a1a0a0;
  border-radius: 1rem;
  padding: 1rem;
  font-family: 'Montserrat';
  color: #a1a0a0;
}

.item-border {
  @apply border-2 border-current rounded-lg p-4 font-sans text-[color:var(--border-color)] relative z-10;
  @apply sm:w-32 sm:h-32; 
  @apply md:w-40 md:h-24; 
  @apply lg:w-48 lg:h-24; 
  @apply xl:w-56 xl:h-24; 
}

.board-items {
  display: flex;
  justify-content: center;
}
.board-menu {
  display: flex;
  justify-content: end;
}