@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --text-color-1: #7CA0A5;
  --text-color-main: #36575B;
}
/* for dark mode, will do later */
/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  height: 100vh;
  /* color: rgb(var(--foreground-rgb)); */
  background: linear-gradient(
    to bottom,
    transparent,
    rgb(var(--background-end-rgb))
  ) rgb(var(--background-start-rgb));
}
/* LOGIN PAGE */
.text-1 {
  font-family: 'Darumadrop One';
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: var(--text-color-1);
  text-wrap: wrap;
}
.title {
  font-family: 'Montserrat';
  font-size: 4rem;
  line-height: 2.5rem;
  color: var(--text-color-main);

  border-bottom: 2px solid #a1a0a0;
  padding-bottom: 1.2rem;
}
.input {
  margin: 0.5rem;
}
.button {
  background-color: #339b67;
  color: #FFFFFF;
}


/* COLUMNS */
.column {
  background-color: #A1C0C5;
  border: 5px solid #A1C0C5;
  border-radius: 0.7rem;
}
.column-title {
    background-color: #3E818A;
    display: flex;
    justify-content: center;
    color: rgb(207, 203, 203);
    border: 5px solid #3E818A;
    border-radius: 0.7rem;
}

.item-input {
  background-color: #3E818A;
  border: 5px solid #3E818A;
  border-radius: 0.7rem;
}
.item {
  color: rgb(207, 203, 203);
  background-color: #3E818A;
  border: 5px solid #3E818A;
  border-radius: 0.7rem;
}